.mediaViewInfo {
	--web-view-name: imprint;
	--web-view-id: imprint;
	--web-scale-on-resize: true;
	--web-navigate-on-keypress: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: imprint;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.imprint_Class {
	position: absolute;
	width: 1920px;
	height: 2162px;
	background-color: rgba(35,39,42,1);
	overflow: hidden;
	--web-view-name: imprint;
	--web-view-id: imprint;
	--web-scale-on-resize: true;
	--web-navigate-on-keypress: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
@keyframes  {


}
.Group_2_Class {
	position: absolute;
	width: 1920px;
	height: 140px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_1__Class {
	fill: rgba(87,242,135,1);
}
.Rectangle_1_ {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 140px;
	left: 0px;
	top: 0px;
}
.logo_small_icon_only_inverted__Class {
	position: absolute;
	width: 100px;
	height: 100px;
	left: 20px;
	top: 20px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
}
.Home__Class {
	left: 183px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
.Imprint_ba_Class {
	left: 275px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
.Discord_bb_Class {
	left: 380px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: partner.html;
	cursor: pointer;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
.Path_1_Class {
	fill: rgba(87,242,135,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 1160px;
	height: 1820px;
	left: 380px;
	top: 240px;
	transform: matrix(1,0,0,1,0,0);
}
.Scroll_Group_1_Class {
	mix-blend-mode: normal;
	position: absolute;
	width: 1197px;
	height: 1620px;
	left: 423px;
	top: 380px;
	overflow: hidden;
}
.imprint__Information_according_Class {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 1093px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
.Programs_bf_Class {
	left: 500px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: programs.html;
	cursor: pointer;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}